<div class="workoutapp">
    <h1 class="title">{{ title }}</h1>
</div>
<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h3 class="margin">LVJ Workouts</h3>
  <img src="../images/conestoga.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Conestoga" width="350" height="350">
  <h3>By: Lucas, Vu, and Jon </h3>
</div>


<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
  <h3 class="margin">Prog 8110 Final Group Project</h3>
  <p>Our group project for PROG 8110 will be a workout log, that will allow the user to select exercises, complete workouts, and update the numbers of sets, and weight used. This will give the user a reliable and easy to use way to keep track of their workouts. The goal is to include a wide variety or exercises and potentially include a calories burned section.</p>
  <a ui-sref="#" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-search"></span> Search
  </a>
</div>

<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">    
  <h3 class="margin">Workouts</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>My Exersizes <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      <img src="../images/exercize.jpg" class="img-responsive margin" style="width:100%;" alt="Image">
    </div>
    <div class="col-sm-4"> 
      <p>My Data <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <img src="../images/me.jpg" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4"> 
      <p> My Workout <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <img src="../images/workout.jpg"  class="img-responsive margin" style="width:100%" alt="Image">
    </div>
  </div>
</div>


</body>
</html>
