<h1>Workout Videos<i class="fa fa-heart"></i></h1>


<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2>Rock and Kevin Hart</h2>
<div class="embed-responsive embed-responsive-4by3">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/0Od2a2UmGDo" frameborder="0" allowfullscreen></iframe>
</div>
      <h2>Pump Up</h2>
<div class="embed-responsive embed-responsive-4by3">
<iframe width="560" height="315" src="https://www.youtube.com/embed/g3B9fZClARA" frameborder="0" allowfullscreen></iframe>
</div>
      <h2>Buzzfeed We Trained like Superheros </h2>
<div class="embed-responsive embed-responsive-4by3">
<iframe width="560" height="315" src="https://www.youtube.com/embed/okM3OYaBQGg" frameborder="0" allowfullscreen></iframe>
</div>
    </div>
  </div>
</div>

<br>
<br>
<br>