<div class="container">
  <h2>New Workouts</h2>
                                                                                     
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Reps</th>
        <th>Weight</th>
        <th>Cals</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Bench</td>
        <td>12</td>
        <td>170</td>
        <td>90</td>

      </tr>
    </tbody>
	    <tbody>
      <tr>
        <td>Bench</td>
        <td>12</td>
        <td>170</td>
        <td>90</td>

      </tr>
    </tbody>
	    <tbody>
      <tr>
        <td>Bench</td>
        <td>12</td>
        <td>170</td>
        <td>90</td>

      </tr>
    </tbody>
	    <tbody>
      <tr>
        <td>Bench</td>
        <td>12</td>
        <td>170</td>
        <td>90</td>

      </tr>
    </tbody>
	    <tbody>
      <tr>
        <td>Bench</td>
        <td>12</td>
        <td>170</td>
        <td>90</td>

      </tr>
    </tbody>
	    <tbody>
      <tr>
        <td>Bench</td>
        <td>12</td>
        <td>170</td>
        <td>90</td>

      </tr>
    </tbody>
  </table>
  </div>
</div>
<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    New Workout
  </button>
</p>
<div class="collapse" id="collapseExample">
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Workout Name
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Bench</a><br>
    <a class="dropdown-item" href="#">Squat</a><br>
    <a class="dropdown-item" href="#">Deadlift</a>
  </div>
</div>

<br>
<br>
<br>

  <div class="form-group">
    <label for="data">Date</label>
    <input type="data" class="form-control" id="data">
  </div>
<form class="form-inline" style="width:100%";>
  <div class="form-group">
    <label for="data">Weight</label>
    <input type="data" class="form-control" id="data">

	  <button type="submit" class="btn btn-default">Submit</button>
  </div>

</div>