<div class="container">
  <h2>My Data</h2>
                                                                                     
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Weight</th>

      </tr>
    </thead>
	</thead>
    <tbody>
      <tr>
        <td>April 25th</td>
        <td>177</td>

      </tr>
    </tbody>
    
  </table>
  </div>
</div>

<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Input My Data
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="form-group">
    <label for="data">Date</label>
    <input type="data" class="form-control" id="data">
  </div>
<form class="form-inline" style="width:100%";>
  <div class="form-group">
    <label for="data">Weight</label>
    <input type="data" class="form-control" id="data">

	  <button type="submit" class="btn btn-default">Submit</button>
  </div>

</div>








</form>
</body>