<?xml version='1.0' encoding='utf-8'?>
<widget id="com.vjlfitness.workoutapp" xmlns="https://www.w3.org/ns/widgets" xmlns:gap="http://phonegap/ns/1.0">
    <name>VJL Fitness Workout App</name>
    <description>A simple app to track workouts and view progress</description>
    <author>Lucas Currah, Vu Nguyen, Jon Nagata</author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="phonegap-version" value="cli-6.3.0" /> 
    <plugin name="cordova-sqlite-storage" version="1.2.1" />
</widget>
