<!DOCTYPE html>
<html>
<head>
  <style>
  body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
      background-color: #E7E9DC; /* Green */
      color: #000000;
  }
  .bg-2 { 
      background-color: #BDAD94; /* Dark Blue */
      color: #000000;
  }
  .bg-3 { 
      background-color: #D5A96A; /* White */
      color: #555555;
  }
  .bg-4 { 
      background-color: #38292C; /* Black Gray */
      color: #fff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
  </style>
</head>
<body>

<h1>My First CSS Example</h1>
<p>This is a paragraph.</p>

</body>
</html>
